body {
  background-color: #fff;
  border: 3px solid black;
  box-sizing: border-box;
  margin: 0;
  padding: 0 !important;
}

nav {
  border-bottom: 3px solid black;
}

h1,
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  margin-left: 20px;
}

.navbar {
  width: 100%;
}

.container {
  padding: 50px 0;
}

.refresh,
.user-input {
  padding: 20px 0;
}

.refresh {
  max-width: 400px;
}

.scores {
  margin-right: 30px;
}

.score-data {
  border: 2px solid black;
  padding: 5px 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
  padding: 5px;
}

li:nth-child(even) {
  background-color: #ddd;
}

input[type='search'] {
  border: none;
  width: 100%;
}

input[type='search']:focus {
  outline: none;
}

.url-bar {
  width: 45%;
}

.nav-btn {
  border: none;
  cursor: pointer;
}

.footer {
  border-top: 3px solid black;
  padding: 20px 0;
}

.spc-btw {
  justify-content: space-between;
}

img {
  width: 30px;
  height: auto;
  background-color: #c1c1c1;
}

.search {
  border: 1px solid rgb(133, 133, 133);
  border-radius: 2px;
  background-color: #fff;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.px-5 {
  padding: 0 5px;
}

.mx-8pc {
  margin: 0 8%;
}

.mx-5pc {
  margin: 0 5%;
}

.gap-20 {
  column-gap: 5%;
}

.p-5 {
  padding: 5px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.p-10 {
  padding: 10px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.font-18 {
  font-size: 18px;
}

.title {
  font-size: 48px;
}

.w-100pc {
  width: 100%;
}

.w-50pc,
.w-50pcx {
  width: 50%;
}

.fd-col {
  flex-direction: column;
}

.col-gap-10 {
  column-gap: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.max-w-400 {
  max-width: 400px;
}

.bg-light-grey {
  background-color: #c1c1c1;
}

.align-center {
  align-items: center;
}

.justify-cont-end {
  justify-content: end;
}

.box-shadow {
  box-shadow: 2px 2px 2px #888;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    gap: 10px;
  }

  img {
    width: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .title {
    font-size: 28px;
  }

  .url-bar {
    width: auto;
  }

  .search {
    width: 150px;
    align-self: flex-end;
  }

  .cta {
    flex-direction: column;
  }

  .w-50pc {
    width: 100%;
  }

  .scores {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .w-50pcx {
    width: auto;
  }

  .max-w-400,
  .refresh {
    max-width: 100%;
  }
}
